
.rainbow-text {
    font-family: Arial Black, Gadget, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}
.rainbow-text .block-line > span {
    display: inline-block;
}
span.block-line > span {
    background-image: linear-gradient(90deg,#0600ff,#4200ff,#00ff6d,#7fff00,#75ff00,#9600ff,#2fff00,#00ff46,#006bff,#ff00d3);
    color: #0000;
    -webkit-background-clip: text;
    background-clip: text;
}
.wrapper {background-color: #000000};


body {
	font-family: Tahoma, Verdana, Geneva, sans-serif;
	margin: 6em 6em;
	font-weight: bold;
	color:black;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
li {
	float: left;
	margin-right: 10px;
}
li:last-of-type {<br>
	margin-right: 0;
}<br>

a {<br>
	display: block;
}

img {
	width: 200px;
	height: 150px;
	box-shadow: 2px 2px 2px rgba(0,0,0,.4);
}
p {
background: ##000000;
text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
color: #00FF00;
background: #000000;
}
}
h1{color:#666600;}
